Servicio_de_areas_de_figuras_soap/Connected Services/ServiceReferenceAreass/servicio_web_areas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Calcular_area_cuadrado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lado" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Calcular_area_cuadradoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Calcular_area_cuadradoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Calcular_area_triangulo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="baser" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="altura" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Calcular_area_trianguloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Calcular_area_trianguloResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Calcular_area_circulo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="radio" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Calcular_area_circuloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Calcular_area_circuloResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Calcular_area_cuadradoSoapIn">
    <wsdl:part name="parameters" element="tns:Calcular_area_cuadrado" />
  </wsdl:message>
  <wsdl:message name="Calcular_area_cuadradoSoapOut">
    <wsdl:part name="parameters" element="tns:Calcular_area_cuadradoResponse" />
  </wsdl:message>
  <wsdl:message name="Calcular_area_trianguloSoapIn">
    <wsdl:part name="parameters" element="tns:Calcular_area_triangulo" />
  </wsdl:message>
  <wsdl:message name="Calcular_area_trianguloSoapOut">
    <wsdl:part name="parameters" element="tns:Calcular_area_trianguloResponse" />
  </wsdl:message>
  <wsdl:message name="Calcular_area_circuloSoapIn">
    <wsdl:part name="parameters" element="tns:Calcular_area_circulo" />
  </wsdl:message>
  <wsdl:message name="Calcular_area_circuloSoapOut">
    <wsdl:part name="parameters" element="tns:Calcular_area_circuloResponse" />
  </wsdl:message>
  <wsdl:portType name="servicio_web_areasSoap">
    <wsdl:operation name="Calcular_area_cuadrado">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Medodo del area del cuadrado</wsdl:documentation>
      <wsdl:input message="tns:Calcular_area_cuadradoSoapIn" />
      <wsdl:output message="tns:Calcular_area_cuadradoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Calcular_area_triangulo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Medodo del area del triangulo</wsdl:documentation>
      <wsdl:input message="tns:Calcular_area_trianguloSoapIn" />
      <wsdl:output message="tns:Calcular_area_trianguloSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Calcular_area_circulo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Medodo del area del circulo</wsdl:documentation>
      <wsdl:input message="tns:Calcular_area_circuloSoapIn" />
      <wsdl:output message="tns:Calcular_area_circuloSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="servicio_web_areasSoap" type="tns:servicio_web_areasSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Calcular_area_cuadrado">
      <soap:operation soapAction="http://tempuri.org/Calcular_area_cuadrado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Calcular_area_triangulo">
      <soap:operation soapAction="http://tempuri.org/Calcular_area_triangulo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Calcular_area_circulo">
      <soap:operation soapAction="http://tempuri.org/Calcular_area_circulo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="servicio_web_areasSoap12" type="tns:servicio_web_areasSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Calcular_area_cuadrado">
      <soap12:operation soapAction="http://tempuri.org/Calcular_area_cuadrado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Calcular_area_triangulo">
      <soap12:operation soapAction="http://tempuri.org/Calcular_area_triangulo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Calcular_area_circulo">
      <soap12:operation soapAction="http://tempuri.org/Calcular_area_circulo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="servicio_web_areas">
    <wsdl:port name="servicio_web_areasSoap" binding="tns:servicio_web_areasSoap">
      <soap:address location="http://localhost:50650/servicio_web_areas.asmx" />
    </wsdl:port>
    <wsdl:port name="servicio_web_areasSoap12" binding="tns:servicio_web_areasSoap12">
      <soap12:address location="http://localhost:50650/servicio_web_areas.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>